<div class="widget" id="module-list">
    <div class="header">
        <h1>Module list</h1>
        <div class="right noBorder noBg">
            <input class="button1" type="button" value="refresh" onclick="moduleApiUpdateWorkerUpdate(this)">
        </div>
        <div class="top">
            <p>ERROR</p>
        </div>
    </div>
    <table class="table-widget-segment">
        <thead>
            <tr>
                <th>module name</th>
                <th>id</th>
                <th>instance</th>
                <th>ping</th>
                <th>core temperature</th>
                <th>module temperature</th>
                <th>CPU load</th>
                <th>control</th>
            </tr>
        </thead>
        <tbody id="moduleList">
            <script>
                table = document.getElementsByClassName(moduleList-refreshButton);
                async function restartModule(element){
                    parentElement = element.parentNode.parentNode;
                    
                    const targetModuleID = parentElement.getElementsByClassName("moduleList-element-id")[0].innerHTML;
                    const targetModuleNAME = parentElement.getElementsByClassName("moduleList-element-name")[0].innerHTML;
                    const confirmationPayload = {
                        "uid" : "" + targetModuleID
                    }
                    const url = "http://" + window.location.hostname;
                    response = await sendData(url+":8089/"+targetModuleNAME+"/restart","{\n  \"uid\": \""+targetModuleID+"\"\n}");
                    if(response.status != 200){
                        setMainPopup("error","couldn't restart module "+targetModuleNAME+" ["+targetModuleID+"] got error code: "+response.status);
                    }
                    element.disabled = true;
                    setTimeout(() => { 
                        element.disabled = false;
                    }, 2000);
                    
                }
            </script>
            <% if(DevicePanel.modules){DevicePanel.modules.forEach(element => { %>
                <tr class="table-master">
                    <td class="table-dataField moduleList-element-name"><%= element.name     %></td> 
                    <td class="table-dataField moduleList-element-id"><%= element.id       %></td> 
                    <td class="table-dataField"><%= element.instance %></td>
    
                    <%element.data.forEach(dataField => { %>
                        <td class="module-api-fetcher table-dataField"
                            unit="<% if(dataField.unit){%><%=dataField.unit%><%}else{%><%="°C"%><%} %>" 
                            resource="<%= dataField.resource %>" 
                            component="<%= dataField.component %>"
                            port="<% if(dataField.port){%><%=dataField.port%><%}else{%><%="8089"%><%} %>"
                        >
                        </td>
                    <%});%>
                    
                    <td class="table-dataField">
                        <button onclick="restartModule(this)" class="button1 hoverSpin moduleList-refreshButton">
                            <img src="<%= getIcon("refresh") %>"title="restart module">
                        </button>
                    </td>
                </tr>
            <% });} %>
            
        </tbody>
    </table>
</div>