<div class="file-browser">
    <div class="search-bar">
        <input type="text">
        <img src="UI/icons/search_icon.svg" alt="searchIcon" class="icon">
    </div>
    <div class="add-button ">
        <div class="button1">
            <div class="button2container">
                <input type="text" class="button2 left add-button-fileName" placeholder="file name">
                <button class="button2 right" onclick="createNewFileOnServer(this, '<%= type %>')">create</button>
            </div>
            <img src="UI/icons/add_icon.svg" alt="addIcon" onclick="toggleClass_Parent(this, 'activated')">
            
            
        </div>
    </div>
    <ul class="file-list" >
        <script>onloadQueue.push(() => reloadFileList('<%= type %>'));</script>
    </ul>
    <div class="file-details">
        <h2 class="file-details-name"></h2>
        <ul class="file-details-stats">
        </ul>
        <div class="file-details-buttons">
            <a id="activate-button"  class="button1"><span>Activate</span><img src="UI/icons/activate_icon.svg" alt="activateIcon" class="icon"></a>
            <a id="remove-button"    class="button1" onclick="activateClass(this, 'activated')">
                    <span  >Remove</span>  <img src="UI/icons/trashbin_icon.svg" alt="removeIcon" class="icon"> 
                    <div><p>are you sure?</p><button onclick="deleteFileOnServer('<%= type %>'); deactivateClass_nthParent(event, this, 'activated',2)">yes</button><button onclick="deactivateClass_nthParent(event, this, 'activated',2)">no</button></div>
            </a>
        </div>
        
    </div>
</div>
<div class="file-editor">
    
    <textarea id="<%= type %>-codeditor" name="<%= type %>-codeditor"></textarea>
    <button class="button1" onclick="saveFileOntoServer('<%= type %>')"><span>Save changes</span> <img src="UI/icons/save_icon.svg" alt="saveChangesIcon" class="icon"></button>
</div>
