<div id="Control-Widget" class="widget">
    <h1>Control</h1>
    <div id="Control-Widget-sliders">
    <%i = 0; DashboardPanel.ControlWidget.sliders.forEach(element => { %>
        <div class="slider1 widget">
            <div class="slider-labels">
                <h3 class="slider-name"><%= element.name %></h3>
                <p class="slider-value" id="Control-Widget-slider-value-<%= i  %>">unknown</p>
            </div>
            <div class="slider-slider">
                <div class="slider-minmax">
                    <p class="slider-min"><%= element.min %><% if(element.unit){%><%=element.unit%><%}else{%><%="%"%><%} %></p>
                    <p class="slider-max"><%= element.max %><% if(element.unit){%><%=element.unit%><%}else{%><%="%"%><%} %></p>
                </div>
                <input  class="slider" 
                    type="range" 
                    min="<%= element.min %>" 
                    max="<%= element.max %>" 
                    unit="<% if(element.unit){%><%=element.unit%><%}else{%><%="%"%><%} %>"
                    step="<% if(element.step){%><%=element.step%><%}else{%><%="1"%><%} %>"
                    valueLabel="Control-Widget-slider-value-<%= i++  %>"
                    lastUpdate="0"
                >
            </div>
        </div>
    <% }); %> 
    <script>
        (function() {
            const controlPanel = document.getElementById("Control-Widget-sliders");
            const sliders = controlPanel.getElementsByClassName("slider");
            for (let i = 0; i < sliders.length; i++) {
                const element = sliders[i];
                element.oninput = function() {
                    if((window.webkitURL != null)){//chrome slider fix
                        const progress = mapRangeToRange(element.value,Number(element.getAttribute("max")),Number(element.getAttribute("min")),100,0) 
                        if(element.classList.contains("vertical")){
                            element.style.background = "linear-gradient(0deg, var(--acc-color-2) "+progress+"%, var(--bg-color-3) "+progress+"%)";
                        }else{
                            element.style.background = "linear-gradient(90deg, var(--acc-color-2) "+progress+"%, var(--bg-color-3) "+progress+"%)";
                        }
                    }

                    document.getElementById(element.getAttribute("valueLabel")).innerHTML = (element.value) + element.getAttribute("unit");
                    if((Date.now() - startMilis) - element.getAttribute("lastUpdate") > 100 || element.value == element.getAttribute("max") || element.value == element.getAttribute("min")){
                        element.setAttribute("lastUpdate",Date.now()-startMilis);
                        
                    }
                };
                element.onchange = function() {
                    document.getElementById(element.getAttribute("valueLabel")).innerHTML = (element.value) + element.getAttribute("unit");
                    element.setAttribute("lastUpdate",Date.now()-startMilis);
                }
            }
        })();
    </script>
    </div>
</div>