<div id="Control-Widget" class="widget">
    <div class="header">
        <h1>Control</h1>
        <div class="right">
            <% if(DashboardPanel.ControlWidget.header) DashboardPanel.ControlWidget.header.rows.forEach(element => { %>
                <div>
                    <p><%= element.name %></p>
                    <p class="table-dataField api-fetcher"
                        port="<% if(element.port){%><%=element.port%><%}else{%><%="8089"%><%} %>" 
                        unit="<% if(element.unit){%><%=element.unit%><%}else{%><%="°C"%><%} %>" 
                        resource="<%= element.resource %>" 
                        component="<%= element.component %>"
                    ></p>
                </div>
            <% }); %>
            <button class="reset_button button1 hoverSpin" onclick="apiUpdateWorkerUpdate(this.parentElement.parentElement.parentElement)">
                <img src="<%= getIcon("refresh") %>" alt="refresh" title="refresh">
            </button>
        </div>
        <div class="top">
            <p>ERROR</p>
        </div>
    </div>
    <div id="Control-Widget-sliders">
    <%i = 0; DashboardPanel.ControlWidget.sliders.forEach(element => { %>
        <div class="slider1 widget">
            <div class="slider-labels">
                <h3 class="slider-name"><%= element.name %></h3>
                <p class="slider-value" decimal-places="<%= element.decimalPlaces %>">unknown</p>
            </div>
            <div class="slider-slider">
                <div class="slider-minmax">
                    <p class="slider-min"><%= element.min %><% if(element.unit){%><%=element.unit%><%}else{%><%="%"%><%} %></p>
                    <p class="slider-max"><%= element.max %><% if(element.unit){%><%=element.unit%><%}else{%><%="%"%><%} %></p>
                </div>
                <input  class="slider" 
                    type="range" 
                    min="<%= element.min %>" 
                    max="<%= element.max %>" 
                    offPos="<%= (element.offPos!=undefined)?element.offPos:0 %>"
                    unit="<% if(element.unit){%><%=element.unit%><%}else{%><%="%"%><%} %>"
                    step="<% if(element.step){%><%=element.step%><%}else{%><%="1"%><%} %>"
                    lastUpdate="0"
                    port="<%= element.port %>" 
                    component="<%= element.component %>" 
                    resource="<%= element.resource %>" 
                    oninput="slider1Handler(this,{'<%= element.component %>':Number(this.value)});"
                >
            </div>
        </div>
    <% }); %> 
    </div>
</div>