<div id="Control-Widget" class="widget">
    <div class="header">
        <h1>Control</h1>
        <div class="right">
            <% if(DashboardPanel.ControlWidget.header) DashboardPanel.ControlWidget.header.rows.forEach(element => { %>
                <div>
                    <p><%= element.name %></p>
                    <p class="table-dataField api-fetcher"
                        port="<% if(element.port){%><%=element.port%><%}else{%><%="8089"%><%} %>" 
                        unit="<% if(element.unit){%><%=element.unit%><%}else{%><%="°C"%><%} %>" 
                        resource="<%= element.resource %>" 
                        component="<%= element.component %>"
                    ></p>
                </div>
            <% }); %>
            <button class="reset_button button1 hoverSpin" onclick="apiUpdateWorkerUpdate(this.parentElement.parentElement.parentElement)">
                <p class="material-icons filled" title="refresh all values">autorenew</p>
            </button>
        </div>
        <div class="top">
            <p>ERROR</p>
        </div>
    </div>
    <div id="Control-Widget-sliders">
    <%i = 0; DashboardPanel.ControlWidget.sliders.forEach(element => { if(element.type != "setter"){%>
        <div class="slider1 widget handler api-fetcher" handler-id="Slider1Handler">
            <div class="slider-labels">
                <h3 class="slider-name"><%= element.name %></h3>
                <p class="slider-value" decimal-places="<%= element.decimalPlaces %>">unknown</p>
            </div>
            <div class="slider-slider">
                <div class="slider-minmax">
                    <p class="slider-min"><%= element.min %><% if(element.unit){%><%=element.unit%><%}else{%><%="%"%><%} %></p>
                    <p class="slider-max"><%= element.max %><% if(element.unit){%><%=element.unit%><%}else{%><%="%"%><%} %></p>
                </div>
                <input  class="slider" 
                    type="range" 
                    min="<%= element.min %>" 
                    max="<%= element.max %>" 
                    offPos="<%= (element.offPos!=undefined)?element.offPos:0 %>"
                    unit="<% if(element.unit){%><%=element.unit%><%}else{%><%="%"%><%} %>"
                    step="<% if(element.step){%><%=element.step%><%}else{%><%="1"%><%} %>"
                    lastUpdate="0"
                    port="<%= element.port %>" 
                    component="<%= element.component %>" 
                    resource="<%= element.resource %>" 
                    oninput="getHandlerObj(this,'Slider1Handler').userInput({'<%= element.component %>':Number(this.value)});"
                    onmouseup="getHandlerObj(this,'Slider1Handler').userInput({'<%= element.component %>':Number(this.value)},true);"
                    ontouchend="getHandlerObj(this,'Slider1Handler').userInput({'<%= element.component %>':Number(this.value)},true);"
                >
            </div>
            <% if(element.button){%>
                <button class="slider-button button1"
                port="<%= element.button.port %>" 
                component="<%= element.button.component %>" 
                resource="<%= element.button.resource %>" 
                onclick="getHandlerObj(this,'Slider1Handler').buttonGet();">
                <p><%= element.button.label %></p>
                </button>
            <% }%>
        </div>
    <% }else{ %>
        <div class="widget setter1">
            <div class="setter1-top">
                <h3 class="setter1-name"><%= element.name %></h3>
                <div class="setter1-currValue ">
                    <p><%= element.getter.text %></p>
                    <p  class="api-fetcher setter1-getter"
                        port="<%= element.getter.port %>" 
                        component="<%= element.getter.component %>" 
                        resource="<%= element.getter.resource %>"
                        unit="<%= element.unit  %>"
                        decimal-places="<%= element.decimalPlaces %>"
                    ></p>
                </div>
                
            </div>
            <div class="setter1-bottom">
                <button class="button1 left setter1-reset"  
                            type="text" 
                            value="1"
                            onblur="enforceMin(this)" 
                            onkeyup="enforceMax(this)"
                            port="<%= element.reset.port %>" 
                            component="<%= element.reset.component %>" 
                            resource="<%= element.reset.resource %>" 
                            onclick="button1Handler(this);apiUpdateWorkerUpdate(this.parentElement)"
                ><p>turn off</p></button>
                <div class="button2container setter1-input">
                    <input class="button2 left"  
                            type="text" 
                            min="<%= element.min  %>"
                            max="<%= element.max  %>"
                            placeholder="<%= element.min  %>-<%= element.max  %> <%=element.unit%>"
                            onblur="enforceMin(this)" 
                            onkeyup="enforceMax(this)"
                            
                    >
                    <button class="button2 right" 
                            onclick="button2Handler(this,true,undefined);apiUpdateWorkerUpdate(this.parentElement.parentElement)"
                            port="<%= element.setter.port %>" 
                            component="<%= element.setter.component %>" 
                            resource="<%= element.setter.resource %>" 
                            component-type="number"
                    >set</button>
                </div>
                
            </div>
            
        </div>
    <% }}); %> 
    </div>
</div>