<div id="LedArray-Widget" class="widget">
    <h1>Spektral</h1>
    <table class="table-widget-segment">
        <thead>
            <tr>
                <th>color</th>
                <th>name</th>
                <th>absolute</th>
                <th>relative</th>
            </tr>
        </thead>
        <tbody id="LedArray-Widget-Table">
            <% var i = 0;%>
            <% DashboardPanel.LedArrayWidget.table.rows.forEach(element => { %>
                <tr class="table-master">
                    <td class="table-color">
                        <img src="<%= getIcon("dot") %>" alt="dot">
                        <div class="colorFilter" colorFilter="<%= getColor(i++) %>"></div>
                    </td>

                    <td class="table-name">
                        <%= element.name %>
                    </td>

                    <td class="table-dataField api-fetcher"
                        port="<% if(element.absolute.port){%><%=element.absolute.port%><%}else{%><%="8089"%><%} %>" 
                        unit="<% if(element.absolute.unit){%><%=element.absolute.unit%><%}else{%><%="lm"%><%} %>" 
                        resource="<%= element.absolute.resource %>" 
                        component="<%= element.absolute.component %>"
                        pull_period="<%= element.absolute.pull_period %>"
                        charted="<% if(element.relative.charted){%><%=element.relative.charted%><%}else{%><%="false"%><%} %>" 
                        label="absolute"
                    >
                    </td>
                    
                    <td class="table-dataField api-fetcher"
                        port="<% if(element.relative.port){%><%=element.relative.port%><%}else{%><%="8089"%><%} %>" 
                        unit="<% if(element.relative.unit){%><%=element.relative.unit%><%}else{%><%="%"%><%} %>" 
                        resource="<%= element.relative.resource %>" 
                        component="<%= element.relative.component %>"
                        pull_period="<%= element.relative.pull_period %>"
                        charted="<% if(element.relative.charted){%><%=element.relative.charted%><%}else{%><%="false"%><%} %>" 
                        label="relative"
                    >
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <div class="control-panel" id="LedArray-Widget-control-panel">
        <%i = 0; DashboardPanel.LedArrayWidget.control.sliders.forEach(element => { %>
            <div class="slider1 widget">
                <div class="slider-labels">
                    <h3 class="slider-name"><%= element.name %></h3>
                    <p class="slider-value" id="LedArray-Widget-slider-value-<%= i  %>">err</p>
                </div>
                
                <div>
                    <input  class="slider vertical" 
                        type="range" 
                        min="<%= element.min %>" 
                        max="<%= element.max %>" 
                        step="<% if(element.step){%><%=element.step%><%}else{%><%="1"%><%} %>"
                        value="err" 
                        valueLable="LedArray-Widget-slider-value-<%= i++  %>"
                    >
                </div>
                
                
            </div>
           
        <% }); %> 
        <script>
            const controlPanel = document.getElementById("LedArray-Widget-control-panel");
            const sliders = controlPanel.getElementsByClassName("slider");
            for (let i = 0; i < sliders.length; i++) {
                const element = sliders[i];
                element.oninput = function() {
                document.getElementById(element.getAttribute("valueLable")).innerHTML = element.value + "%";
                };
            }
        </script>
    </div>    
</div>