<div id="LedArray-Widget" class="widget">
    <div class="header">
        <h1>Led array</h1>
        <div class="right">
            <% if(DashboardPanel.LedArrayWidget.header) DashboardPanel.LedArrayWidget.header.rows.forEach(element => { %>
                <div>
                    <p><%= element.name %></p>
                    <p class="table-dataField api-fetcher"
                        port="<% if(element.port){%><%=element.port%><%}else{%><%="8089"%><%} %>" 
                        unit="<% if(element.unit){%><%=element.unit%><%}else{%><%="°C"%><%} %>" 
                        resource="<%= element.resource %>" 
                        component="<%= element.component %>"
                    ></p>
                </div>
            <% }); %>
            <button class="button1" id="LedArray-Widget-setAll0Button" onclick="LedArray_Widget_disableButton(this);">disable</button>
        </div>
        <div class="top">
            <p>ERROR</p>
        </div>
    </div>
    <div class="control-panel" id="LedArray-Widget-control-panel">
        <%i = 0; DashboardPanel.LedArrayWidget.sliders.forEach(element => { %>
            <div class="slider1 widget">
                <div class="slider-labels">
                    <h3 class="slider-name"><%= element.name %></h3>
                    <p class="slider-value">unknown</p>
                </div>
                <div class="slider-slider">
                    <input  class="slider vertical" 
                        type="range" 
                        min="<%= element.min %>" 
                        max="<%= element.max %>" 
                        unit="<% if(element.unit){%><%=element.unit%><%}else{%><%="%"%><%} %>"
                        step="<% if(element.step){%><%=element.step%><%}else{%><%="1"%><%} %>"
                        lastUpdate="0"
                        port="8089"
                        resource="/control/led_intensity/channel<%= element.channel %>"
                        oninput="sliderHandler(this,{intensity:Math.round(this.value)/100});"
                    >
                </div>
            </div>
           
        <% }); %> 
    </div>    
    <script>
        function LedArray_Widget_disableButton(element){
            element.disabled = true;
            const url = "http://" + window.location.hostname;
            
            sendData(url+":8089/control/led_intensity","{\"intensity\": [0,0,0,0]}")

            const sliderContainers = document.getElementById("LedArray-Widget-control-panel").getElementsByClassName("slider1");
            for (let i = 0; i < sliderContainers.length; i++) {
                const slider = sliderContainers[i].getElementsByClassName("slider")[0];
                const valueLabel  = sliderContainers[i].getElementsByClassName("slider-value")[0]; 

                slider.value = slider.getAttribute("min");
                valueLabel.innerHTML = (slider.value) + slider.getAttribute("unit");

                chromeFix_Slider(slider);
            }


            setTimeout(() => { 
                element.disabled = false;
            }, 2000);
        }
    </script>
</div>
